*{
    margin: 0%;
    padding: 0%;
    font-family: ArbFONTS-AGCRegular ;
    scroll-behavior: smooth;
}

@font-face {
    font-family:'ArbFONTS-AGCRegular';
    src: url('fonts/ArbFONTS-AGCRegular.ttf');
}

::-webkit-scrollbar {
    width: 20px;
}

::-webkit-scrollbar-track {
    background-color: #f6f6f6;
}

::-webkit-scrollbar-thumb {
    background-color: rgb(25 51 73 / 0.5);
    border-radius: 50px;
}

::-webkit-scrollbar-thumb:hover {
    background-color: rgb(25 51 73 / 1);
}

main {
    background-color: rgb(230, 228, 228);
}

.blog {
    background-color: white;
    width: 75%;
    margin: auto;
    font-size: 35px;
    position: relative;
    bottom: 100px;
    border-radius: 50px ;
    text-align: right;
    padding: 40px;
    padding-bottom: 40px;
}

.title {
    font-size: 100px;
    text-align: center;
    padding-bottom: 100px;
    color: #193349;
    border-bottom: 3px solid #193349;
    font-weight: bolder;
}

section>i{
    color: #193349;
    position: relative;
    position: absolute;
    top: 200px;
    right: 43px;
    font-size: 40px;
}

.name {
    position: relative;
    bottom: 70px;
    right: 60px;
    color: #193349;
    font-size: 35px;
}

.blog_font {
    font-size: 23px;
    font-weight: bolder
}

.news {
    background-color: #193349;;
    text-align: center;
}

.twitter {
    border-radius: 35px;
    margin: 0px 100px 100px 100px;
}

.news_name {
    color: white;
    font-size: 75px;
    padding: 75px 0px 45px 0px;
}

footer {
    background-color: rgb(49, 49, 49);
    color: white;
    text-align: center;
}

.footer_name {
    padding-top: 80px;
    font-size: 50px;
    margin-bottom: 30px;
}

a {
    color: white;
    margin: 0px 35px;
    font-size: 40px;
}

.youtube_icon:hover {
    background-color: #FF0000;
    padding: 8px 10px;
    border-radius: 12px;
    transition: 1s;
}
.instagram_icon:hover {
    background-color: #E1306C;
    padding: 8px 12px;
    border-radius: 12px;
    transition: 1s;
}
.twitter_icon:hover {
    background-color: #1DA1F2;
    padding: 8px 11px;
    border-radius: 12px;
    transition: 1s;
}
.soundcloud_icon:hover {
    background-color: #F26F23;
    padding: 8px 8px;
    border-radius: 12px;
    transition: 1s;
}

.copyright {
    background-color: rgb(24, 24, 24);
    padding-top: 25px;
    padding-bottom: 25px;
    font-size: 20px;
    margin-top: 65px;
    border-radius: 50px 50px 0px 0px;
    
}

.footer1 {
    display: inline-block;
    padding-left: 300px;
}

.footer2 {
    display: inline-block;
}

/*_____________________________________________media________________________________________________________*/

@media (max-width:1100px) {

    .blog {
        background-color: white;
        width: 75%;
        margin: auto;
        font-size: 35px;
        position: relative;
        bottom: 70px;
        border-radius: 50px ;
        text-align: right;
        padding: 40px;
        padding-bottom: 40px;
    }

    .blog_font {
        font-size: 20px;
        font-weight: bolder
    }
}

@media  (max-width:1000px) {

    .blog {
    background-color: white;
    width: 75%;
    margin: auto;
    font-size: 35px;
    position: relative;
    bottom: 60px;
    border-radius: 50px ;
    text-align: right;
    padding: 40px;
    padding-bottom: 40px;
    }

    .blog_font {
        font-size: 20px;
        font-weight: bolder
    }

    .footer1 {
        display: inline-block;
        padding-left: 100px;
    }
}

@media (max-width:800px) {

    .blog {
        background-color: white;
        width: 75%;
        margin: auto;
        font-size: 35px;
        position: relative;
        bottom: 50px;
        border-radius: 50px ;
        text-align: right;
        padding: 40px;
        padding-bottom: 40px;
    }

    .title {
        font-size: 80px;
        text-align: center;
        padding-bottom: 100px;
        color: #193349;
        border-bottom: 3px solid #193349;
    }
    
    section>i{
        color: #193349;
        position: relative;
        position: absolute;
        top: 190px;
        right: 43px;
        font-size: 33px;
    }
    
    .name {
        position: relative;
        bottom: 52px;
        right: 48px;
        color: #193349;
        font-size: 27px;
    }

    .blog_font {
        font-size: 18px;
        font-weight: bolder
    }

    .twitter {
        border-radius: 35px;
        margin: 0px 0px 100px 0px;
    }
    
    .news_name {
        color: white;
        font-size: 75px;
        padding: 75px 0px 45px 0px;
    }

    .footer_name {
        padding-top: 80px;
        font-size: 44px;
        margin-bottom: 30px;
    }

    .footer1 {
        display: inline-block;
        padding-left: 100px;
        font-size: 17px;
    }

    .footer2 {
        display: inline-block;
        font-size: 17px;
    }
}

@media (max-width:700px) {

    .blog {
        background-color: white;
        width: 75%;
        margin: auto;
        font-size: 35px;
        position: relative;
        bottom: 50px;
        border-radius: 50px ;
        text-align: right;
        padding: 40px;
        padding-bottom: 35px;
    }

    .blog_font {
        font-size: 17px;
        font-weight: bolder
    }

    .footer1 {
        display: inline-block;
        padding-left: 50px;
        font-size: 16px;
    }

    .footer2 {
        display: inline-block;
        font-size: 16px;
    }

    .twitter {
        border-radius: 35px;
        width: 500px ;
    }
    
    .news_name {
        color: white;
        font-size: 63px;
        padding: 75px 0px 45px 0px;
}

@media (max-width:630px) {

    .blog {
        background-color: white;
        width: 75%;
        margin: auto;
        font-size: 35px;
        position: relative;
        bottom: 40px;
        border-radius: 50px ;
        text-align: right;
        padding: 40px;
        padding-bottom: 30px;
    }
    
    .title {
        font-size: 73px;
        text-align: center;
        padding-bottom: 100px;
        color: #193349;
        border-bottom: 3px solid #193349;
    }
    
    section>i{
        color: #193349;
        position: relative;
        position: absolute;
        top: 185px;
        right: 43px;
        font-size: 30px;
    }

    .blog_font {
        font-size: 16px;
        font-weight: bolder
    }
    
    .name {
        position: relative;
        bottom: 46px;
        right: 45px;
        color: #193349;
        font-size: 24px;
    }

    .twitter {
        border-radius: 35px;
        margin: 0px 0px 75px 0px;
        width: 450px;
    }
    
    .news_name {
        color: white;
        font-size: 50px;
        padding: 75px 0px 45px 0px;
    }
}

@media (max-width:600px) {
    
    .blog {
        background-color: white;
        width: 75%;
        margin: auto;
        font-size: 35px;
        position: relative;
        bottom: 40px;
        border-radius: 50px ;
        text-align: right;
        padding: 40px;
        padding-bottom: 30px;
    }

    section>i{
        color: #193349;
        position: relative;
        position: absolute;
        top: 170px;
        right: 43px;
        font-size: 27px;
    }

    .name {
        position: relative;
        bottom: 45px;
        right: 40px;
        color: #193349;
        font-size: 20px;
    }

    .title {
        font-size: 60px;
        text-align: center;
        padding-bottom: 100px;
        color: #193349;
        border-bottom: 3px solid #193349;
    }

    .blog_font {
        font-size: 15px;
        font-weight: bolder
    }

    .copyright {
        background-color: rgb(24, 24, 24);
        padding-top: 25px;
        padding-bottom: 25px;
        font-size: 20px;
        margin-top: 70px;
        border-radius: 50px 50px 0px 0px;
    }
    
    .footer1 {
        font-size: 20px;
        display:block;
        position: relative;
        margin-top: 25px;
        right: 27px;
    }
    
    .footer2 {
        font-size: 20px;
        display:block;
    } 
}

@media (max-width:500px) {

    .blog {
        background-color: white;
        width: 75%;
        margin: auto;
        font-size: 35px;
        position: relative;
        bottom: 30px;
        border-radius: 50px ;
        text-align: right;
        padding: 40px;
        padding-bottom: 20px;
    }

    .title {
        font-size: 50px;
        text-align: center;
        padding-bottom: 100px;
        color: #193349;
        border-bottom: 3px solid #193349;
    }
    
    section>i{
        color: #193349;
        position: relative;
        position: absolute;
        top: 160px;
        right: 40px;
        font-size: 25px;
    }
    
    .name {
        position: relative;
        bottom: 45px;
        right: 33px;
        color: #193349;
        font-size: 20px;
    }

    .blog_font {
        font-size: 12px;
        font-weight: bolder
    }

    .twitter {
        border-radius: 25px;
        width: 350px ;
    }
    
    .news_name {
        color: white;
        font-size: 44px;
        padding: 50px 0px 35px 0px;
        }

        .copyright {
            background-color: rgb(24, 24, 24);
            padding-top: 25px;
            padding-bottom: 25px;
            font-size: 20px;
            margin-top: 70px;
            border-radius: 50px 50px 0px 0px;
        }
        
        .footer1 {
            font-size: 17px;
            display:block;
            position: relative;
            margin-top: 25px;
            right: 27px;
        }
        
        .footer2 {
            font-size: 17px;
            display:block;
        } 

        .footer_name {
            padding-top: 80px;
            font-size: 35px;
            margin-bottom: 30px;
        }
        
        a {
            color: white;
            margin: 0px 22px;
            font-size: 40px;
        }
        
        .youtube_icon:hover {
            background-color: #FF0000;
            padding: 8px 10px;
            border-radius: 12px;
            transition: 1s;
        }
        .instagram_icon:hover {
            background-color: #E1306C;
            padding: 8px 12px;
            border-radius: 12px;
            transition: 1s;
        }
        .twitter_icon:hover {
            background-color: #1DA1F2;
            padding: 8px 11px;
            border-radius: 12px;
            transition: 1s;
        }
        .soundcloud_icon:hover {
            background-color: #F26F23;
            padding: 8px 8px;
            border-radius: 12px;
            transition: 1s;
        }
}

@media (max-width:400px) {

    .blog {
        background-color: white;
        width: 75%;
        margin: auto;
        position: relative;
        bottom: 25px;
        border-radius: 50px ;
        text-align: right;
        padding: 40px;
        padding-bottom: 20px;
    }

    .title {
        font-size: 38px;
        text-align: center;
        padding-bottom: 100px;
        color: #193349;
        border-bottom: 3px solid #193349;
    }
    
    section>i{
        color: #193349;
        position: relative;
        position: absolute;
        top: 145px;
        right: 40px;
        font-size: 22px;
    }
    
    .name {
        position: relative;
        bottom: 44px;
        right: 30px;
        color: #193349;
        font-size: 17px;
    }

    .blog_font {
        font-size: 10px;
        font-weight: bolder;
    }

    .twitter {
        border-radius: 22px;
        width: 250px ;
    }
    
    .news_name {
        color: white;
        font-size: 30px;
        padding: 45px 0px 25px 0px;
        }

        .copyright {
            background-color: rgb(24, 24, 24);
            padding-top: 25px;
            padding-bottom: 25px;
            font-size: 20px;
            margin-top: 70px;
            border-radius: 50px 50px 0px 0px;
        }
        
        .footer1 {
            font-size: 13px;
            display:block;
            position: relative;
            margin-top: 25px;
            right: 27px;
        }
        
        .footer2 {
            font-size: 13px;
            display:block;
        } 

        .footer_name {
            padding-top: 80px;
            font-size: 23px;
            margin-bottom: 30px;
        }
        
        a {
            color: white;
            padding: 10px 0px;
            font-size: 25px;
            display: block;
        }
        
        .youtube_icon:hover {
            background-color: #FF0000;
            padding: 8px 10px;
            border-radius: 12px;
            transition: 1s;
        }
        .instagram_icon:hover {
            background-color: #E1306C;
            padding: 8px 12px;
            border-radius: 12px;
            transition: 1s;
        }
        .twitter_icon:hover {
            background-color: #1DA1F2;
            padding: 8px 11px;
            border-radius: 12px;
            transition: 1s;
        }
        .soundcloud_icon:hover {
            background-color: #F26F23;
            padding: 8px 8px;
            border-radius: 12px;
            transition: 1s;
        }
}

@media (max-width:300px) {

    .blog {
        background-color: white;
        width: 75%;
        margin: auto;
        font-size: 35px;
        position: relative;
        bottom: 25px;
        border-radius: 50px ;
        text-align: right;
        padding: 40px;
        padding-bottom: 40px;
    }

    .title {
        font-size: 38px;
        text-align: center;
        padding-bottom: 100px;
        color: #193349;
        border-bottom: 3px solid #193349;
    }
    
    section>i{
        color: #193349;
        position: relative;
        position: absolute;
        top: 145px;
        right: 40px;
        font-size: 22px;
    }
    
    .name {
        position: relative;
        bottom: 44px;
        right: 30px;
        color: #193349;
        font-size: 17px;
    }

    .blog_font {
        font-size: 22px;

    }

    .twitter {
        border-radius: 22px;
        width: 250px ;
    }
    
    .news_name {
        color: white;
        font-size: 30px;
        padding: 45px 0px 25px 0px;
        }

        .copyright {
            background-color: rgb(24, 24, 24);
            padding-top: 25px;
            padding-bottom: 25px;
            font-size: 20px;
            margin-top: 70px;
            border-radius: 50px 50px 0px 0px;
        }
        
        .footer1 {
            font-size: 13px;
            display:block;
            position: relative;
            margin-top: 25px;
            right: 27px;
        }
        
        .footer2 {
            font-size: 13px;
            display:block;
        } 

        .footer_name {
            padding-top: 80px;
            font-size: 23px;
            margin-bottom: 30px;
        }
        
        a {
            color: white;
            padding: 10px 0px;
            font-size: 25px;
            display: block;
        }
        
        .youtube_icon:hover {
            background-color: #FF0000;
            padding: 8px 10px;
            border-radius: 12px;
            transition: 1s;
        }
        .instagram_icon:hover {
            background-color: #E1306C;
            padding: 8px 12px;
            border-radius: 12px;
            transition: 1s;
        }
        .twitter_icon:hover {
            background-color: #1DA1F2;
            padding: 8px 11px;
            border-radius: 12px;
            transition: 1s;
        }
        .soundcloud_icon:hover {
            background-color: #F26F23;
            padding: 8px 8px;
            border-radius: 12px;
            transition: 1s;
        }
}
